:root {
    --tg-theme-bg-color: #212121;
    --tg-theme-button-color: #8774e1;
    --tg-theme-text-color: white;
    --tg-theme-button-text-color: beige;
    --tg-theme-hint-color: gray;
    background-color: var(--tg-theme-secondary-bg-color);
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    box-sizing: border-box;
}

.note-card-list {
    box-sizing: border-box;
    display: grid;
    gap: 5px;
    grid-template-columns: 100%;
}

.note-card-container {
    background-color: var(--tg-theme-bg-color);
    padding: 23px 12px;
    text-decoration: none;
    border-radius: 10px;
}

.create-new-note {
    background-color: var(--tg-theme-button-color);
    color: var(--tg-theme-button-text-color);
    text-align: center;
}

.note-card-title {
    color: var(--tg-theme-text-color);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    user-select: none;
}

#note-card-empty {
    color: var(--tg-theme-hint-color);
    text-align: center;
    font-style: italic;
}

.edit-area {
    background-color: var(--tg-theme-bg-color);
    border: 2px solid transparent;
    border-radius: 10px;
    box-sizing: border-box;
    color: var(--tg-theme-text-color);
    font-family: 'Roboto Mono', monospace;
    font-size: 14px;
    height: 95vh;
    line-height: 1.4;
    padding: 1em;
    resize: none;
    transition: all 0.2s;
    width: 100%;
    white-space: nowrap;
    white-space: pre-wrap;
}

.edit-area:focus {
    border-color: var(--tg-theme-secondary-bg-color);
}